* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  background: black;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 980px;
  height: 100vh;
  display: flex;
}

.left-logo {
  background-image: url("imgg.jpg");
  width: 450px;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.left-logo h1 {
  color: #f7f7f7;
  font-size: 100px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.sign-up {
  width: 100%;
  background-color: rgb(254, 254, 254);
}

.text {
  width: 100wh;
  padding: 40px;
  font-size: 18px;
  font-weight: 700;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 1px;
  background-color: rgb(247, 247, 247);
}

.text p {
  margin-top: 50px;
}

.text-2 {
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.sign-up h3 {
  margin: 20px 40px 33px;
}

label {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2px;
  opacity: 0.8;
}

input {
  padding: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #2222225b;
}

input:focus {
  border: 1px solid #4811b7;
}

input::placeholder {
  color: #2222225b;
}

.twin-container {
  display: flex;
  padding: 5px;
  margin-top: 10px;
}

.no-margin {
  margin-left: 30px;
}

.password-holder input {
  border: 1.5px solid #e07523;
}

.signup-button {
  margin-top: 30px;
}

.signup-button button {
  margin: 20px 40px;
  padding: 10px 20px;
  border: none;
  background-color: #2c7206;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.signup-button button:hover {
  background-color: #265c07;
}

.signup-button p {
  margin: 0 40px;
  font-size: 12px;
  font-weight: 600;
}

.signup-button span {
  color: #2c7206;
  cursor: pointer;
}
